body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
header{
	background-color: #ffffff;
	width: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Montserrat", sans-serif;
}
a, a:hover, a:focus{
	text-decoration: none;
}
section{
	padding: 3% 0;
	position: relative;
}
.flexHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
p{
	font-family: 'Cuprum', sans-serif;
}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	height: 80px;
}
nav a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	margin-top: 20px;
	color: #191919;
	transition: color .3s;
}
nav a:hover{
	color: #00C0BA;
	transition: color .3s;
}
/* section desc */
#desc{
	background-color: #F6F6F6;
}
.flexDesc{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#desc h1{
	font-size: 2rem;
	margin: 0;
	padding: 0 0 2% 0;
	letter-spacing: 1px;
	text-align: center;
}
#desc p{
	font-size: 1.2rem;
	padding: 2% 0 0% 0;
	margin: 0;
	text-align: center;
}
/* sesction galery */
#galery{
	padding: 0;
}
#galery .glWidth{
	width: 100%;
}
.flexGl{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}
#galery .mrgNon{
	margin: 0;
	padding: 0;
}
.sheathW{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color:  rgba(0,192,186, .6);
	z-index: 2;
	transition: opacity .5s;
}
.sheathW i{
	font-size: 5rem;
	color: #FFFFFF;
}
.imgBlok{
	position: relative;
}
.coverImg:hover .sheathW{
	opacity: 1;
	cursor: pointer;
	transition: opacity .5s;
}
.coverImg img{
	display: block;
	width: 100%;
}
.deskGlrImg{
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.popup{
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(150, 150, 150, .9);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
.popup .coverImg{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.popup .deskGlrImg{
	display: flex;
	width: 40%;
}
.popup img{
	width: 50%;
}
.popup .sheathW{
	display: none;
}
#ndProj .windFree .linkButton{
	padding: 0% 5%;
}
#galery .popup .pe-7s-close, #ndProj .formMess .pe-7s-close{
	display: block;
}
#galery .popup .pe-7s-close:hover, #ndProj .pe-7s-close:hover{
	display: block;
	color: #00C0BA;
	transform: rotate(90deg);
	transition: color .3s, transform .3s, text-shadow .3s;
	text-shadow: 1px 1px 1px #000000;
}
#galery .pe-7s-close, #ndProj .pe-7s-close{
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 4rem;
	font-weight: 900;
	transition: color .3s, transform .3s, text-shadow .3s;
	cursor: pointer;
}
/* footer */
footer{
	background-color: #0C0C0C;
}
footer a, footer span{
	color: #BDBDBD;
	font-family: 'Cuprum', sans-serif;
	padding: 1% 0;
	transition: color .3s;
}
footer a:hover{
	color: #00C0BA;
	transition: color .3s;
}
footer p{
	color: #BDBDBD;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}
.flexFoot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5% 0 5% 0;
}
.flexCol{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.flexColSoc{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.flexColSoc a{
	transition: color .3s;
}
.flexColSoc a:nth-child(1):hover{
	color: #4867AA;
	transition: color .3s;
}
.flexColSoc a:nth-child(2):hover{
	color: #F58220;
	transition: color .3s;
}
.flexColSoc a:nth-child(3):hover{
	color: #E03B65;
	transition: color .3s;
}
.flexColSoc a:nth-child(4):hover{
	color: #507299;
	transition: color .3s;
}
/* Page About section myBlock*/

#myBlock{
	color: #FFFFFF;
	background-color: #3C3C3C;
}
#myBlock h1{
	font-size: 2.5rem;
	margin: 0;
	padding: 3% 0 1.5% 0;
	letter-spacing: 1px;
	text-align: center;
}
#myBlock p{
	padding: 1.5% 0 3% 0;
	margin: 0;
	text-align: center;
}
#myBlock .flexDesc{
	z-index: 2;
}
/* section record */
#record{
	background-color: #00CAC4;
	padding: 1% 0;
	margin: 0;
}
#record p, #record span{
	color: #FFFFFF;
}
#record p i{
	font-size: 4rem;
}
.flexRec{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.flexInfRec{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.flexInfRec span{
	font-family: 'Cuprum', sans-serif;
	font-size: 2rem;
}
.flexInfRec p{
	margin: 0;
	padding: 0;
}
/* section aboutMy */
#aboutMy, #project, #moreInf, #rotatBlok{
	padding: 0;
	margin: 0;
}
#aboutMy h2{
	color: #101010;
}
#aboutMy p{
	color: #797979;
}
#aboutMy .container, #project .container, #moreInf .container{
	width: 100%;
}
#aboutMy .flexL, #project .flexL, #moreInf .flexL{
	background-color: #E2E2E2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0;
	padding: 0;
}
#aboutMy .flexR, #project .flexR, #moreInf .flexR{
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flexL img{
	width: 100%;
	display: block;
}
.descInfAbt{
	width: 70%;
}
.flexR img{
	width: 10%;
	display: block;
}
#rotatBlok{
	margin: -3% 0 -1% 0;
	overflow: hidden;
}
#rotatBlok .container{
	width: 100%;
	height: 100%;
	padding: 3% 0;
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}
#rotatBlok .fonBlok{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: inset 0px 0px 100px 25px rgba(0,0,0,0.5);
	background-color: rgba(0,192,186, .4);
}
#rotatBlok img{
	position: absolute;
	width: 100%;
	z-index: -1;
	top: -20%;
}
#rotatBlok .descInfAbt{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#rotatBlok .flexR{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#rotatBlok h2{
	z-index: 3;
	font-size: 2rem;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
}
.fonSection{
	background-color: #F5F5F5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
#moreInf{
	z-index: -1;
	margin-top: -3%;
}
/* section ndProj */
#ndProj h2{
	text-align: center;
	color: #101010;
}
#ndProj p{
	text-align: center;
	color: #797979;
}
#ndProj #sentMess .linkButton{
	font-size: 2rem;
	text-shadow: 1px 1px 1px #000000;
	border: 10px solid #00CAC4;
}
#ndProj .linkButton, #contact .linkButton{
	border: 1px solid #00CAC4;
	padding: 2% 5%;
	color: #00CAC4;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	background-color: transparent;
	transition: color .3s, background .3s;
	cursor: pointer;
}
#ndProj .linkButton:hover, #contact .linkButton:hover{
	color: #ffffff;
	background-color: #00CAC4;
	transition: color .3s, background .3s;
}
.windFree{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(150, 170, 170, .9);
	width: 100%;
	height: 100%;
}
.formMess{
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
#ndProj #sentMess{
	height: 60%;
}
.formMess .sentMessOff{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 10;
	top: 0;
	left: 0;
}
.formMess .sentMessOff p{
	width: 90%;
	font-size: 3rem;
}
/* section contact */
#contact{
	background-color: #F5F5F5;
}
#contact span{
	font-weight: 900;
}
#contact p a{
	color: #000000;
	transition: color .3s;
}
#contact p a:hover{
	color: #00CAC4;
	transition: color .3s;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
.formCnt{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
.formCnt input{
	width: 49%;
}
input{
	line-height: 50px;
	padding: 0 2%;
	font-family: 'Cuprum', sans-serif;
	font-size: 1.1rem;
	border: 0;
	margin: 1% 0;
}
textarea{
	padding: 10px 2%;
	font-family: 'Cuprum', sans-serif;
	font-size: 1.1rem;
	border: 0;
	margin: 10px 0;
}
::-webkit-input-placeholder { color: #797979; }
::-moz-placeholder          { color: #797979; } /* Firefox 19+ */
:-moz-placeholder           { color: #797979; } /* Firefox 18- */
:-ms-input-placeholder      { color: #797979; }
::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.mess{
	width: 100%;
	height: 30%;
}
/* section map */
#map{
	margin: 0;
	padding: 0;
}
#google-map{
	position: relative;
	height:500px;
}
#google-container{
	height:500px;
}
.gmnoprint, .gm-style-cc{
	visibility: hidden;
}
.descrAddress{
	position: absolute;
	left: 50%;
	top: 2%;
	margin-left: -160px;
	font-size: 1.8rem;
	width: 320px;
	color: #009999;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
}
/* section services */
#services{
	background-color: #F5F5F5;
}
.servItem{
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5% 0;
}
.servItem i{
	font-size: 3rem;
	color: #656565;
}
.servItem h3{
	color: #181818;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: .9rem;
	text-transform: uppercase;
}
.servItem p{
	color: #787878;
	text-align: center;
	margin: 0;
	padding: 0;
}
.flexSer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/* section project */
.control{
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: -15px;
	margin-left: -15px;
}
.prevBlok i, .nextBlok i, .centralBlok i{
	font-size: 3rem;
	font-weight: 600;
}
.centralBlok i{
	cursor: pointer;
	transition: color .5s, transform 1s;
}
.prevBlok, .nextBlok{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}
.prevBlok p, .nextBlok p{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-weight: 600;
	text-transform: uppercase;
	color: #424242;
	margin: 0 3%;
	transition: color .5s, transform .5s;
	letter-spacing: 1px;
}
.prevBlok:hover > p, .nextBlok:hover > p{
	color: #00CAC4;
	transition: color .5s, transform .5s;
	transform: scale(1.2,1.2);
}
.centralBlok:hover i{
	transform: rotate(365deg) scale(2,2);
	color: #00CAC4;
	transition: transform 1s, color .5s;
}
#project .descInfAbt span{
	font-weight: 600;
	letter-spacing: 1px;
}
#project .descInfAbt p{
	font-size: 1rem;
}
#project .hid, #ndProj .hid{
	display: none;
}
#project .vis{
	opacity: 0;
	transition: opacity .5s;
}
#project .row{
	transition: opacity .5s;
}
/* Preloader */
.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background-image: url("../images/source.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 300px;
	width: 400px;
	margin-top: -150px;
	margin-left: -200px;
	left: 50%;
	top: 50%;
	position: absolute;
}
/* topBottom */
#topBottom{
	position: fixed;
	bottom: 30%;
	right: 3%;
	border-radius: 50%;
	display: none;
	opacity: 0;
	z-index: 100;
}
#topBottom i{
	color: #00CAC4;
	text-shadow: 1px 1px 1px #000000;
	font-size: 4rem;
}